using EightOfMarchBot.Core;
using EightOfMarchBot.Loop;
using Telegram.BotAPI;

namespace EightOfMarchBot
{
    public sealed class Game
    {
        public void Play()
        {
            var client = new BotClient("your bot token");
            var messageSender = new MessageSender(client);

            var gameLoopFactory = new GameLoopsFactory(messageSender);
            var updatingCycle = new UpdatingCycle(gameLoopFactory, client, messageSender);
            updatingCycle.Start();
        }
    }
}