using EightOfMarchBot.Loop;
using Telegram.BotAPI;

namespace EightOfMarchBot
{
    public sealed class Game
    {
        public void Play()
        {
            var client = new BotClient("your bot token");
            var telegram = new Core.Telegram(client);

            var gameLoopFactory = new GameLoopsFactory(telegram);
            var updatingCycle = new UpdatingCycle(gameLoopFactory, client, telegram);
            updatingCycle.Start();
        }
    }
}