using EightOfMarchBot.Core;

namespace EightOfMarchBot.Loop
{
    public sealed class GameStart : IGameStart
    {
        private const string HelloMessage = "your game start message";
        private readonly ITelegram _telegram;

        public GameStart(ITelegram telegram)
            => _telegram = telegram ?? throw new ArgumentNullException(nameof(telegram));

        public void Activate()
            => _telegram.SendMessage(HelloMessage);
    }
}