using EightOfMarchBot.Core;

namespace EightOfMarchBot.Loop
{
    public sealed class GameEnd : IGameEnd
    {
        private const string CongratulationsMessage = "your game end message";
        private const string CongratulationsImageLink = "your game end photo link";
        private readonly ITelegram _telegram;

        public GameEnd(ITelegram telegram)
            => _telegram = telegram ?? throw new ArgumentNullException(nameof(telegram));

        public void Activate()
            => _telegram.SendPhoto(CongratulationsImageLink, CongratulationsMessage);
    }
}